// 覆盖element-plus组件库的变量
:root {
  --el-color-primary: var(--primary-color);
  --el-text-color-primary: var(--text-color);
  --el-text-color-regular: var(--text-color);

  // 输入框文字颜色
  // --el-input-text-color: var(--text-color);
  // 基础输入框边框圆角
  --el-border-radius-base: 0px;
}
